
.topbar {
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
}

.menu-btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

.top-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  background: #1677ff;
  color: white;
  padding: 6px 10px;
  border-radius: 50%;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
}
