.loan-card {
  background: #ffff;
  padding: 30px 22px;
  width: 80%;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: #555;
  line-height: 1.1;
  margin: 0;
}

.metric {
  font-size: 16px;
}

.label {
  color: #666;
  margin-right: 6px;
}

.value {
  font-weight: 600;
}

.red {
  color: #ff0000;
}

.gray {
  color: #555;
}

.right img {
  width: 60px;
  height: 60px;
}
